.header_localidade{
    /* Informar localidade: */

    position: absolute;
    width: 180px;
    height: 40px;
    left: 126px;
    top: 301px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.header_input_estado{
    /* estado */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 100px;
    top: 340px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;
    
    letter-spacing: 0.1em;
    
    color: #000000;

}

.header_input_cidade{
    /* cidade */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 313px;
    top: 340px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;
    
    letter-spacing: 0.1em;
    
    color: #000000;
    

}

.header_input_bairro{
    /* bairro */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 100px;
    top: 395px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;
    /* or 364% */
    
    letter-spacing: 0.1em;
    
    color: #000000;

}

.header_input_numero{
    /* numemro */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 391px;
    top: 395px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;
    
    letter-spacing: 0.1em;
    
    color: #000000;

}

.header_input_rua{
    /* Rua */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 100px;
    top: 450px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 40px;

    letter-spacing: 0.1em;
    
    color: #000000;
    
}

.input_estado{
    /* Quadro estado */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 90px;
    top: 380px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_cidade{
    /* Quadro cidade */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 303px;
    top: 380px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_bairro{
    /* Quadro bairro */

    position: absolute;
    width: 248px;
    height: 29px;
    left: 90px;
    top: 435px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_numero{
    /* Quadro numero */

    position: absolute;
    width: 77px;
    height: 29px;
    left: 381px;
    top: 435px;
    
    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_rua{
     /* Quadro Rua */

    position: absolute;
    width: 369px;
    height: 29px;
    left: 90px;
    top: 490px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}