.header_localidade{
    /* Informar localidade: */

    position: absolute;
    width: 180px;
    height: 40px;
    left: 110px;
    top: 220px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.header_input_CEP{
    /* CEP */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 100px;
    top: 270px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.header_input_pais{
    /* País */

    position: absolute;
    width: 36px;
    height: 33px;
    left: 332px;
    top: 270px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.header_input_estado{
    /* Estado */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 100px;
    top: 330px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.header_input_cidade{
    /* Cidade */

    position: absolute;
    width: 48px;
    height: 33px;
    left: 332px;
    top: 330px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 40px;

    letter-spacing: 0.1em;

    color: #000000;

}

.input_CEP{
    /* Quadro CEP */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 90px;
    top: 310px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_pais{
    /* Quadro País */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 322px;
    top: 310px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_estado{
    /* Quadro Estado */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 90px;
    top: 370px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}

.input_cidade{
    /* Quadro Cidade */

    position: absolute;
    width: 155px;
    height: 29px;
    left: 322px;
    top: 370px;

    background: #FFFFFF;
    border: 2px solid #172668;
    border-radius: 70px;
}