.root {    
    position: relative;
    width: 605px;
    left: 230px;
    top: 40px;

    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px
}

.subheader {
    display: flex;
    align-items: center;
}

.message {
    height: auto;
}
