.root {    
    position: absolute;
    width: 594px;
    height: 156px;
    left: 405px;
    top: 102px;

    background: #FFFFFF;
    border-radius: 5px;
}

.subheader {
    display: flex;
    align-items: center;
}

.message {
    height: auto;
}
