.home {
  background: #F9F9F9;
}

.header {
  background: #f6f2e6;
  width: 100%;
  position: fixed;
  
}

.toolbar {
  display: flex;
  align-items: center;
  min-height: 64px;
  justify-content: space-between;
  padding: 0 24px;
}

.titleHeader {
  width: 220px;
  height: 45px;
  left: 37px;
  top: 18px;
  font-family: 'Secular One', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.4em;
  color: #172668;
}

.main {
  height: 100vh;
  display: flex;
  width: 1280px;
  margin: 0 auto;
}
