.home {
  background: #F9F9F9;
}

.header {
  position: absolute;
  width: 600px;
  height: 37px;
  left: 399px;
  top: 0px;

  background: #FFFFFF;
  border-radius: 5px;
  
}

.toolbar {
  display: flex;
  align-items: center;
  min-height: 64px;
  justify-content: space-between;
}

.titleHeader {
  position: absolute;
  width: 154px;
  height: 43px;
  left: 10px;
  top: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #000000;
}

.main {
  height: 100vh;
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

.rankingHeader {
  position: absolute;
  width: 260px;
  height: 40px;
  left: 1042px;
  top: -2px;

  background: #FFFFFF;
}

.ranking {
  position: absolute;
  width: 260px;
  left: 1042px;
  top: 30px;
  
  background: #FFFFFF;
}

.rankingName {
  position: absolute;
  width: 150px;
  height: 35px;
  left: 100px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}